.camel{
    background-color: aqua;
}
.cham{
    background-color:aquamarine;
}
.cicada{
    background-color: blue;
}
.panda{
    background-color: blueviolet;
}
.pigeon{
    background-color: cyan;
}
.teddy{
    background-color: darkslateblue;
}
.heading{
    font-size: 25px;
    font-family: 'Papyrus';
}